VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_APP_URL=http://localhost:5173
VITE_SUPABASE_AUTH_REDIRECT_URL=http://localhost:5173/app
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_API_URL=https://api-m.sandbox.paypal.com
VITE_APP_BASE_URL=http://localhost:5173
